table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px;
}

.signature-line {
  border-top: 1px solid black;
  width: 500px;
}

// .signatures {
//   display: flex;
//   justify-content: space-between;
// }
