table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

.signature-line {
  border-top: 1px solid black;
  width: 50vh;
}

.signatures {
  display: flex;
  justify-content: space-between;
}
