<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500" rel="stylesheet">
    <style>
      /* This line is a fix for the line below that doesn't work in production */
      <%#= Rails.application.assets.find_asset('application.scss').to_s %>
      <%= (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset('application.scss').to_s %>
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
