<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <style>
      /* This line is a fix for the line below that doesn't work in production */
      <%#= Rails.application.assets.find_asset('application.scss').to_s %>
      <%= (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset('application.scss').to_s %>
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
